.nav{
	width: 100%;
	background-color: #777;
	position: fixed;
	top: 0px;
	
}
.nav .h1{
	font: 20px 黑体;
	color: white;
	text-align: center;
	line-height: 50px;
}
.nav ul{
		display: none;
	padding: 0px 120px;
}
.nav li{

		margin: 15px 0px;
		border-bottom: 2px white dotted;
		padding-bottom: 20px;
		text-align: center;
}
.nav a{
	text-align: center;
	font: 18px 仿宋;
	color: white;
	text-decoration: none;
}
#checkbox{
	display: none;
}
#checkbox:checked ~ .nav ul{
	display: block;
}
#menu{
/* 	float: right; */
	line-height: 3.125rem;
	position: absolute;
/* 	padding: 0px 10px; */	
	left: 85%;

}
.box{
	width: 100%px;
/* 	height: 1000px; */
/* 	background-color: #bfa; */	
}


.content .content1{
	width: 90%;
	height: 300px;
/* 	border: 1px  solid; */
	margin: 5% 5%;
	box-shadow:0rem 0rem 0.3125rem 0rem #888888;
/* 	padding-top: 20px; */
	}
.content .content1 h2{
/* 	height: 100px; */
	font: 16px 黑体;
	color: #000000;
/* 	padding: 20px 20px 20px 20px; */
	text-align: center;
	padding-top: 5%;

}

.content .content1 .img{
	display: none;
}
.content .content1 .p{
	float: left;
	width: 90%;
/* 	background-color: #BBFFAA; */
	margin: 5%;
}

.content .content1 p{
	font: 14px 仿宋;
	color: #000000;
	line-height: 25px;
	text-align: center;
}
.content1 a{
		text-decoration: none;
	}
 .content1 a:hover{
		text-decoration: underline;
}

.content-right .content-right1{
	display: none;
	}
	
.mobile{
	width: 90%;
	height: 50px;
/* 	border: 1px  solid; */
	margin: 20% 5% 0% 5%;
	box-shadow:0rem 0rem 0.3125rem 0rem #888888;
/* 	padding-top: 20px; */
	}
.txt{
		float: left;
		background: url(txt-bj.png) no-repeat;
		width: 174px;
		height: 33px;
		border: none;
		line-height: 33px;
		margin: 0.53125rem 0px 0.53125rem 8%;
		padding: 0px 8px;
}
.btn{
	float: left;
	background: url(baidu-logo.png);
	width: 89px;
	height: 33px;
	margin: 0.53125rem 5% 0.53125rem 0px;
}

.content-right2{
	display: none;
}
.bottom{
	width:90%;
	height: 60px;
/* 	background-color: #00FFFF; */
	border-top: 6px #D1D1D1 double;
	margin: 0px 5% 0% 5%;	
	}
.bottom p{
	float: left;
	font: 14px 仿宋;
	line-height: 60px;
}
.bottom a{
	float: right;
	font: 14px 仿宋;
	line-height: 60px;
	text-decoration: none;
	color: black;
}
.bottom a:hover{
	color: #6C6C6C;
	text-decoration: underline;
}
.tx{
	display: none;
}

.lianxi{
	width: 90%;
	height: 80%;
	box-shadow:0rem 0rem 0.3125rem 0rem #888888;
	margin: 5%;
	padding-top: 5%;
}
.lianxi .p{
	margin: 20% 22%;
}
.lianxi h2{
	font: 1.125rem 宋体;
	margin-top: 20%;
	text-align: center;

}
.lianxi p{
	text-align: center;
}